
@import url('../../../../../../../fonts.googleapis.com/css@family=Lato%253A400,700&display=swap.css');
@import url('../../../../../../../fonts.googleapis.com/css@family=Oswald&display=swap.css');



.n18nheader *{
	font-family: 'Lato';
	box-sizing: border-box;
	line-height: 1;
}

.n18thder {
	text-align: center;
	padding: 6px 0
}



.n18bhdr {
	background: url(headertbg.jpg) no-repeat top center;
	border-top: 2px solid #e1261d
}

.n18bhdr .n18hcontainer {
	width: 1244px;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: space-between
}

.n18bhdr .logonsection {
	display: flex;
	align-items: center;
	position: relative;
}
.n18bhdr .logonsection > a img{
	width: 130px;
}




.n18bhdr .logonsection h2 {
	font-size: 38px;
	color: #fff;
	font-weight: normal;
	font-family: 'Oswald';
	position: absolute;
	margin-left: 152px;
	white-space: nowrap;
	margin-top: 5px;
	text-transform: uppercase;
}

.n18bhdr .logonsection h2:before{
	content: '';
	position: absolute;
	width: 1px;
	background-color: #374a47;
	top: -11px;
	bottom: -0px;
	left: -12px;
}

.n18bhdr .logonsection .nhlogo {
	padding-right: 15px;
	position: relative;
}
.n18bhdr .logonsection .nhlogo:before{
	
}
.n18bhdr .logonsection .nhlogo
.n18bhdr .logonsection {
	min-width: 131px;
}

.n18bhdr .lnlivetv {
	display: flex;
	justify-content: space-between;
	
}
.n18bhdr .lnlivetv > div{
	margin-right: 20px;
	box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.4);
	padding: 3px 15px 6px;
	border-radius: 0 0 7px 7px;
}
.n18bhdr .lnlivetv > div:last-child{
	margin-right: 0;
}

.n18bhdr .lnlivetv .languagebox {
	background: #e1261d;
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 1px;
}
.n18bhdr .lnlivetv .languagebox > span{ padding-right:10px; font-size: 11px; padding-bottom: 2px;}

.n18bhdr .lnlivetv .languagebox .linner {
	background: #fff;
	padding-left: 15px;
	min-width: 130px;
	color: #6c6c6c;
	font-size: 12px;
	position: relative;
	border-radius: 0 0 7px 7px;
	display: flex;
	align-items: center;
	height: 100%;
}

.n18bhdr .lnlivetv .languagebox .linner a {
	color: #6c6c6c;
	display: block
}

.n18bhdr .lnlivetv .languagebox .linner .lddnav {
	background: #fff;
	width: 100%;
	position: absolute;
	top: 21px;
	left: 0;
	display: none;
	box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.2);
	z-index: 99999;
	padding-top: 6px;
}

.n18bhdr .lnlivetv .languagebox .linner:hover .lddnav {
	display: block
}

.n18bhdr .lnlivetv .languagebox .linner .lddnav.adcls {
	display: block
}

.n18bhdr .lnlivetv .languagebox .linner .lddnav a {
	display: block;
	padding: 10px 15px;
	margin: 5px 0;
	color: #6c6c6c;
	font-size: 12px;
}

.n18bhdr .lnlivetv .languagebox .linner .lddnav a:hover {
	background: #e1261d;
	color: #fff
}

.n18bhdr .lnlivetv .nhlivetv {
	padding-left: 45px;
	background: #e1261d;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.2);
	position: relative;
	
}
/* .n18bhdr .lnlivetv .nhlivetv:after{
	content: '';
	background: url(/news18_revamp/image/desktop/news18/social-sprite-img.png) no-repeat;
	background-position: -71px -4px;
	width: 12px;
	height: 15px;
	position: absolute;
	top: 7px;
	right: 15px;
	filter: brightness(10);
} */

.n18bhdr .lnlivetv .nhlivetv .nhltvddnav {
	background: #e1261d;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 21px;
	width: 100%;
	left: 0;
	display: none;
	padding-top: 6px;
	box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.2)
}

.n18bhdr .lnlivetv .nhlivetv:hover .nhltvddnav {
	display: block
}


.n18bhdr .lnlivetv .nhlivetv .nhltvddnav a {
	display: block;
	padding: 4px 10px;
	color: #fff;
	margin: 5px 0;
}

.n18bhdr .lnlivetv .nhlivetv .nhltvddnav a:hover {
	background: #b50d05
}

.n18bhdr .lnlivetv .nhlivetv strong {
	font-size: 12px;
	color: #fff;
    border-bottom: 1px solid
}

.n18bhdr .lnlivetv .lnlapp {
	background: #fff;
	position: relative;
	padding-left: 35px;
	
}
/* .n18bhdr .lnlivetv .lnlapp a{
	position: absolute;
	right: 37px;
}
.n18bhdr .lnlivetv .lnlapp a:last-child{
	right: 15px;
	top: 2px;
} */
.n18bhdr .lnlivetv .lnlapp a img{
	width: 12px;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.n18bhdr .lnlivetv .lnlapp strong {
	font-size: 12px;
	text-transform: uppercase;
	color: #001d42;
	border-bottom: 1px solid #001d42;
}

.n18bhdr .lnlivetv:hover .lnlapp strong {
	border-bottom: none
}

.n18bhdr .nhtranding {
	border-radius: 20px;
	padding: 8px 20px;
	background: #fff;
	font-size: 13px;
	color: #e1261d;
	margin:23px 0;
	display: inline-block;
	font-weight: bold;
	float: right;
	box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.2);
}

.n18bhdr .nhtranding a {
	color: #646464;
	padding-left: 20px;
	font-weight: normal
}

.n18bhdr .nhtranding a:hover {
	color: #e1261d
}

.n18bhdr .nhsocial {
	background: #fff;
	padding: 0 15px;
	
}
.n18bhdr .nhsocial > a{
	margin-right: 20px;
	top:0;
	height: 18px;
}
.n18bhdr .nhsocial > a:last-child{
	margin-right: 0;
}

.n18bhdr .nhsocial strong {
	font-size: 11px;
	font-weight: normal;
	color: #666;
	text-transform: uppercase;
	padding-right: 25px;
	position: relative
}

.n18bhdr .nhsocial strong:after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	border-left: 1px solid #7a7a7a;
	border-top: 1px solid #7a7a7a;
	right: 15px;
	top: 4px;
	transform: rotate(132deg);
}

.hsocial-sprite {
	background: url(social-sprite-img.png) no-repeat;
	display: inline-block;
	vertical-align: top;
}

.nhlanguate-arrow {
	background-position: -71px -4px;
	width: 12px;
	height: 15px;
	position: absolute;
	top: 6px;
	right: 10px;
}

.nhlivetv-icon {
	background-position: -5px -5px;
	width: 18px;
	height: 16px;
	position: absolute;
	top: 5px;
	left: 16px;
}

.nhltv-arrow {
	background-position: -71px -24px;
	width: 12px;
	height: 15px;
	position: relative;
	top: 2px
}

.nhapp-icon {
	background-position: -29px -5px;
	width: 10px;
	height: 18px;
	position: absolute;
	top: 5px;
	left: 15px;
}

.nhfb-icon {
	background-position: -50px -4px;
	width: 8px;
}

.nhtw-icon {
	background-position: -6px -24px;
	width: 17px;
}

.nhig-icon {
	background-position: -29px -24px;
	width: 17px;
}

.nhutb-icon {
	background-position: -50px -24px;
	width: 17px;
}
/* nav menu css */
nav *{
	box-sizing: border-box;
}
nav {
    background: #f5f5f5;
    width: 100%;
    position: relative;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 44px;
    z-index: 9;
}

nav ul.nav-box li {
	float: left;
	margin-right: 30px;
	position: relative
}

nav ul.nav-box {
	line-height: 44px
}

nav ul.nav-box li a {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
nav ul.nav-box li a:hover{
	color: #ee1b24;
}

ul.subnav li {
	float: left;
	font-size: 14px;
	margin-right: 0;
	border-left: 1px solid #cfcfcf;
	padding: 0 12px;
	position: relative;
	height: 26px
}

ul.subnav li a {
	color: #383838;
	font-weight: 700;
	font-size: 14px
}

ul.subnav li:first-child {
	border: none;
	padding-right: 50px;
	line-height: 27px;
}
ul.subnav.menu_tab > li{
	padding:0;
}

ul.subnav li:last-child {
	line-height: 6px;
	text-align: center
}

ul.subnav li:last-child a {
	color: #5d5d5d;
	font-size: 10px
}



ul.subnav li em,
ul.subnav li em:after,
ul.subnav li em:before {
	content: '';
	width: 18px!important;
	height: 2px!important;
	background: #222;
	display: block;
	position: absolute
}

ul.subnav li em {
	top: 5px!important;
    right: 15px!important;
    left: 0;
    background: transparent!important;
    padding-top: 12px;
    border-bottom: 2px #222 solid;
}

ul.subnav li em:before {
	top: 2px!important;
}

ul.subnav li em:after {
	top: 7px!important;
}

ul.subnav li em.addcls {
    background: 0 0;
    border-bottom: 0;
    top: 10px!important;
}

ul.subnav li em.addcls:before {
    top: 0!important;
    transform: rotate(-45deg);
    background: #bd1e24;
}
ul.subnav li em.addcls:after {
    top: 0!important;
    transform: rotate(45deg);
    background: #bd1e24;
}

nav.adcls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 2px rgba(22, 22, 22, .2);
}

.gsearch-box {
    position: relative;
    max-width: 1244px;
    width: 100%;
    margin: 0 auto;
}

.exp-search {
    background: #d6d6d6;
    padding: 10px;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 999999999;
    width: 600px;
    display: none;
}
.exp-search .expinner {
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
   height: auto;
}


.spriteimage1 {
    background: url(../../top-nav/sprite-image.png) no-repeat;
    display: inline-block;
}
.search-icon {
    background-position:-266px -157px;
    width: 19px;
    height: 18px;
    vertical-align: middle;
    margin-top: 4px;
}



.nav-rgt-inside-links {
	position: absolute;
	box-shadow: 0 7px 10px -2px rgba(0, 0, 0, .3);
	left: 0;
	right: 0;
	top: -1px;
	z-index: 999;
	display: none;
	margin: 0 -10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.nav-rgt-inside-links a {
	display: block;
	font-size: 14px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

.outerone {
    margin: 0 auto;
    padding: 0;
    max-width: 1244px;
    clear: both;
    position: relative;
}
.clearfix {
    clear: both;
}

.stky-logo {
    width: 105px;
    height: 39px;
    display: none;
    position: relative;
    left:0;
    top:2px;
    z-index: 99999;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.subnav.menu_tab{
    right:inherit;
	left:0;
	position: absolute;
    top: 10px;
    z-index: 9999;
}
.nav-box{
    margin-left:40px;
}
ul.subnav.menu_tab > li{
	padding:0;
}

.header-search {
    position: absolute;
    right: 10px;
	top: 10px;
	z-index: 9999;
}
.header-search:before{
	content: '';
    position: absolute;
    width: 1px;
    background-color: #c4c4c4;
    top: -2px;
    bottom: -2px;
    left: -12px;
}

.social-links{
	display: flex;
    justify-content: flex-end;
    background: #f5f5f5;
    padding: 14px 15px;
    height: 42px
}

.social-links a {
    float: left;
    margin-right: 35px;
    height: 22px;
}

.social-links + .sub-nav{
	margin-top:0;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sub-nav {
    background: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

ul.h-links {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 10px 15px
}

ul.h-links li {
    float: left;
    margin-right: 0;
    padding: 7px 0;
    width: 16.666%;
}

.b-link {
    border-top: 1px solid #e5e5e5;
    padding: 11px 15px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.b-link a {
    font-size: 13px;
    color: #515151;
    float: left;
    margin-right: 22px;
    font-weight: 400;
    text-transform: capitalize;
}
.b-link a > span{
	height: inherit!important;
	margin-top: 0!important;
}

.nav-rgt-inside-links a:hover {
    color: #ee1b24;
}

.outer {
    max-width: 1244px;
    margin: 0 auto;
}

.secont-lnav {
	background: #fff;
	border-top: 1px solid #d4d4d4;
	margin-bottom: 0;
	width: 100%;
	height: 45px;
	position: relative;
	box-shadow: 2px 2px 18px rgba(00, 00, 00, 0.4);
}
.secont-lnav ul{
	display: flex;
	align-items: center;
	height: 45px;
}

.secont-lnav ul li {
	float: left;
	margin-right: 30px;
	position: relative
}

.secont-lnav ul li a {
	font-size: 13px;
	color: #5c5c5c;
	display: flex;
	font-family: 'Lato', sans-serif;
}
.secont-lnav ul li a:hover{
	color: #ee1b24;
}

.secont-lnav ul li:last-child a {
	color: #e1261c
}

.secont-lnav ul li:nth-child(9) a {
    color: #e1261c;
}
li.paani {
    padding-top: 0px!important;
}

@media screen and (max-width: 1224px)  {
	.n18bhdr .n18hcontainer {width:1150px;}
	.outerone {max-width:1150px !important;}
	.outer {max-width:1150px;}
	.lv_right_box {width: 70% !important;}
	.nav-box {margin-left:28px;}
	nav ul.nav-box li {margin-right: 28px;}
}	

.story-upcharouter {position: relative;}
.story-upcharouter .myupchar-logo {position: absolute;background: #fff;right: 0; width: 105px; padding: 7px 10px;border-bottom-left-radius: 10px;}
.story-upcharouter .myupchar-logo img {width:100%;}
.upchar-listwrap {position: relative;padding-bottom: 24px;}
.upchar-listwrap .upchar-listicon {position: absolute; bottom: 0; right: 0;width: 100px;}
.upchar-listwrap .upchar-listicon img{width: 100%;}
.myupchar-outer {position: relative;}
.myupchar-outer .myupchar-logo{position: absolute;background: #fff;right: 0;width: 105px;padding: 7px 10px;border-bottom-left-radius: 10px;}
.myupchar-outer .myupchar-logo img{width: 100%;padding-bottom:0 !important;}
.myupchar-list {position: relative;padding-bottom:12px !important;}
.myupchar-list > .myupchar-logo + a:hover {color: #00b19f;}
.myupchar-list .myupchar-logo {position: absolute;bottom: 0;right: 0;width: 61px;}
.myupchar-list .myupchar-logo img {width: 100%;padding-bottom: 0 !important;}
@media screen and (min-width: 767px) {
#liveblog-contener .nw_bresult_content.nw18boardresultdiv iframe {     height: 535px; }
}