@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url(../fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(../fonts.gstatic.com/s/droidsans/v12/SlGWmQWMvZQIdix7AFxXmMh3eDs1Yg.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../fonts.gstatic.com/s/droidserif/v12/tDbK2oqRg1oM3QBjjcaDkOr4nAfcGw.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url(../fonts.gstatic.com/s/droidserif/v12/tDbX2oqRg1oM3QBjjcaDkOr4lLz5CwOnTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(../fonts.gstatic.com/s/droidserif/v12/tDbI2oqRg1oM3QBjjcaDkOr9rAA.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts.gstatic.com/s/droidserif/v12/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwQ.ttf) format('truetype');
}
