@font-face {
	font-family: 'Noto Sans Kannada';
	font-style: normal;
	font-weight: 400;
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Regular.eot);
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Regular.eot@) format('embedded-opentype'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Regular.woff2) format('woff2'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Regular.woff) format('woff'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans Kannada';
	font-style: normal;
	font-weight: 700;
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Bold.eot);
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Bold.eot@) format('embedded-opentype'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Bold.woff2) format('woff2'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Bold.woff) format('woff'), url(../../../static.asianetnews.com/v1/fonts/asianet-kannada/NotoSansKannada-Bold.ttf) format('truetype');
}

@media only screen and (max-width: 320px) {
	.site-header li.news-paper-li { display: none; }
}