@font-face {
	font-family: 'Noto Sans Telugu';
	font-style: normal;
	font-weight: 400;
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Regular.eot);
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Regular.eot@) format('embedded-opentype'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Regular.woff2) format('woff2'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Regular.woff) format('woff'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans Telugu';
	font-style: normal;
	font-weight: 700;
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Bold.eot);
	src: url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Bold.eot@) format('embedded-opentype'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Bold.woff2) format('woff2'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Bold.woff) format('woff'), url(../../../static.asianetnews.com/v1/fonts/asianet-telugu/NotoSansTelugu-Bold.ttf) format('truetype');
}
