@media (max-width: 768px) {
    .lazyLoadedTagSection {
      display:none;
    }
  }
.tag-box {
        background-color: #fff !important;
        float: left;
       /* width: 100%;*/
        padding: 15px 0px;
        font-family: 'Roboto', sans-serif;
         border-top: 0px solid #ebebeb;
        }
  .tag-name .tag-ul li {
    background-color: #e6e6e6;
    padding: 5px 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius:4px;
      }
    .tag-name .tag-ul li a {
        color: #212629;
        font-size: 10px;
    }
    .tag-flow{/*
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;*/
      height: auto;

    }
