@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Vadodara Light'), local('HindVadodara-Light'), url(https://fonts.gstatic.com/s/hindvadodara/v6/neIQzCKvrIcn5pbuuuriV9tTSDn3uXQ-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara Regular'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v6/neINzCKvrIcn5pbuuuriV9tTQJLVqQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Vadodara Medium'), local('HindVadodara-Medium'), url(https://fonts.gstatic.com/s/hindvadodara/v6/neIQzCKvrIcn5pbuuuriV9tTSGH2uXQ-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Vadodara SemiBold'), local('HindVadodara-SemiBold'), url(https://fonts.gstatic.com/s/hindvadodara/v6/neIQzCKvrIcn5pbuuuriV9tTSE3xuXQ-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Vadodara Bold'), local('HindVadodara-Bold'), url(https://fonts.gstatic.com/s/hindvadodara/v6/neIQzCKvrIcn5pbuuuriV9tTSCnwuXQ-pQ.ttf) format('truetype');
}
