@media only screen and (max-width: 1005px) {
    .header_bottom > div {
        width: 100% !important;
        text-align: center;
    }
 .header_bottom > div > .uni_logo,.header_left, .header_bottom_ad {
            float: none;
            margin: 0;
            padding: 0;
        }
.header_left span {
                float: none !important;
                margin: 4px 0 12px;
                display: inline-block;
            }
}
@media only screen and (max-width: 767px) {
.lftmenu { width: auto;}
.rTFlex{display:block!important} 
.MainContainer > aside, .subscribe, .subscribe ul {
        width: auto !important;
    }
 .lftmenu img,.subscribe ul li img { height: 32px; }
 .left .ticker-controls { float: right;}
.ticker-content {
        padding-top: 0;
        line-height: normal;
    }
 .ticker {height: auto;}
.ticker-wrapper.has-js {
        box-sizing: border-box;
        width: 100% !important;
        padding: 0 10px !important;
        margin: 0 !important;
        height: 35px !important;
    }
 .MainContainer > section,.div1 { width: 100%; }
.MainContainer > section { margin-top: 10px; }
 .left .ticker-controls {
        display: none;
        margin-top: 10px;
        margin-bottom: 10px;
        float: right !important;
        padding-top: 0;
    }
.header_left {
        width: 100% !important;
        padding: 1% !important;
        text-align: center;
    }
.footermenu_container ul, .footermenu_second ul {
        padding: 8px 15px;
        text-align: center;
        background: #11305f;
    }
.footermenu_container ul li {
            float: none;
            padding: 0;
            margin-right: 10px;
        }
 .footermenu_container ul li a { font-size: 11px; }
.header_left span { margin: 10px 0 5px; }
 .footermenu_second {
        margin-top: 10px;
        margin-bottom: 10px;
    }
.footermenu_second ul li {
            float: none;
            display: inline-block;
        }
 .footermenu_second ul li a { font-size: 11px;  }
 .footer_followus {
        float: none;
        height: 27px;
        margin: 0 auto;
        overflow: hidden;
        width: 258px;
    }
 .footer_followus span {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
 .footer_followus ul {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
.footer_followus ul li {
                margin: 0 10px;
                padding: 0;
            }
.toggleMenu > img {height: 32px; }
input[dataname="txtsearch"] { width: 150px; }
.searchBarR1 { width: 150px; }
.topmenu_container > div:first-child {
        width: 76% !important;
        margin-left: 2%;
    }
.searchBoxRR { width: 150px !important; }
.topleadimg {width: auto; }
.toplead_main .pull-right {
        overflow: inherit !important;
        float: none;
        width: auto;
    }
 .ticker-title, .MainCtA, .MainCtAA { display: none; }
 .ticker-content {  width: 100%; }
 .MainContainer { margin-top: 5px; }
.nav {
        display: block;
        width: 95px;
        position: absolute;
        z-index: 9;
        top: 100%;
        background: #1a3967;
    }
.nav > li {
            width: 100%;
            border-bottom: solid 1px #0f2d5a;}
 .nav > li > .parent { margin-right: 10px;}
 .nav > li.hover { position: relative; }
 .nav > li.hover > ul {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    border-left: solid 1px #0f2d5a;
                    width: 130px;
                }
 .nav li li a {
            display: block;
            background: #1a3967;
            position: relative;
            z-index: 100;
            margin: 0%;
            border-bottom: solid 1px #0f2d5a;
            font-size: 13px;
            padding: 7px 15px;
        }
}
@media only screen and (max-width: 450px) {
     .stepcarousel {
        width:100% !important;
    }
         .panel-img {
		width:98% !important;
	}
}
@media only screen and (max-width: 358px) {
    .searchBoxRR {
        width: 120px !important;
        font-size: 12px !important;
    }
.toggleMenu > img,.lftmenu img, .subscribe ul li img,.topmenu_container { height: 26px; }
.subscribe { top: 0 !important;}
}


@media only screen and (max-width: 600px) {
    .column {
    
    float: left;
    width: 45%;
    height: 300px;
    }
    .imgleft {
      margin-left: 25px;
    }
}