.StoryMain {
    float: left;
    width: 100%;
    margin: 0.9em 0em 0em 0em;
    padding: 0em;
}

.breadcategoryName {
    float: left; /*text-transform: capitalize;*/
    display: inline;
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0em 0em 0.5em 0em;
    padding: 0em 0em 0.1em 0em;
}

    .breadcategoryName a {
        color: black;
        font-family: sans-serif;
        font-size: 0.90em;
        font-weight: bold;
    }

.categoryName {
    float: left; /*text-transform: capitalize;*/
    display: inline;
    width: 100%;
    font-size: 1.2em;
    color: #990400;
    font-weight: bold;
    margin: 0em 0em 0.5em 0em;
    padding: 0em 0em 0.1em 0em;
    border-bottom: solid 1px black;
}

.storydate {
    font-size: 0.75em;
    line-height: 1.8em;
    color: black;
    display: block;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.storyheadline {
    font-size: 1.3em;
    margin: 0em 0em 0.3em 0em;
    line-height: 1.2em;
    padding: 0em;
    color: #1A3967;
    font-family: Georgia;
}

.storysubheadline {
    font-size: 1.1em;
    color: black;
    margin: 0;
    padding: 0em 0em 0.5em 0em;
    width: 100%;
    float: left;
}

.storyImg {
    float: left;
    margin: 0.5em 0.5em 0.5em 0em;
    width: 50%;
    padding: 0 0em 0.5em 0;
    margin-right: 17px;
    margin-bottom: 12px;
}

    .storyImg p {
        margin: 0em;
        padding: 0em;
    }

    .storyImg img {
        vertical-align: middle;
        max-width: 100%;
    }

.storyImgCaption {
    font-size: 0.85em;
    margin-top: 0.6em;
    font-weight: normal;
    display: block;
    color: gray;
}

.storydetails {
    font-size: 0.95em;
    font-family: Georgia;
    line-height: 1.5em;
    color: black;
}

    .storydetails p {
        margin: 0em;
        padding: 0em;
    }

        .storydetails p span {
            margin: 0em !important;
            padding: 0em !important;
            font-size: 0.95em !important;
            font-family: Georgia !important;
            line-height: 1.5em;
            left: 0px !important;
            top: 0px !important;
            position: relative !important;
        }



.section_news_main {
    float: left;
    width: 100%;
    border-bottom: 2px solid #CCC;
    margin-bottom: 1%;
    padding-bottom: 1.2%;
}

.section_news_head {
    float: left;
    padding: 0% 0% 0% 0%;
    margin: 0%;
    width: 100%;
    line-height: 1.1em;
}

    .section_news_head a {
        text-decoration: none;
        font-size: 0.65em;
        font-weight: bold;
    }

.section_news_datetime {
    width: 100%;
    float: left;
    font-size: 0.70em;
    font-weight: normal;
    color: black;
    margin: 0 0 0.4em 0;
    padding: 0em 0em 0em 0em;
    display: block;
}

.section_news_synop {
    margin: 0.2em 0 0.1em 0;
    padding: 0em;
    font-size: 0.90em;
    color: black;
    line-height: 1.4em;
    font-family: Georgia;
}

.section_news_seemore {
    float: right;
    margin: 0em 0 0 0;
    text-align: right;
    padding: 0.1em 0 0.2em 0.5em;
    width: 98%;
}

    .section_news_seemore a {
        font-size: 0.80em;
        font-weight: normal;
        font-family: sans-serif;
    }




/*/Ramji Login CSS Start Here*/

.login_main {
    float: left;
    width: 99.7%;
    margin: 1% 0 1% 0.3%;
    padding: 0% 0% 0% 0%;
    border: 0px solid #D7D7D7;
}


.login_start {
    width: 34%;
    border: 0px solid #D7D7D7;
    margin: 20px auto;
}

    .login_start ul {
        margin: 0em;
        padding: 0em;
        list-style-type: none;
        float: left;
    }

.register {
    margin: 0em;
    padding: 0em;
    list-style-type: none;
    float: left;
    font-family: Verdana;
    font-size: .75em;
    font-weight: normal;
    color: black;
    display: block;
}

.login_li {
    float: left;
    margin: 0em;
    padding: 0.5em 1em 0em 1.4em;
    width: 100%;
    border: 0px solid red;
}

.user_name_span {
    float: left;
    display: inline;
    margin: 0em;
    padding: 0.5em 0em 0em 0em;
    width: 30%;
    font-size: .75em;
    font-weight: normal;
    border: 0px solid red;
    color: black;
    font-family: Verdana;
}

.password_span {
    float: left;
    display: inline;
    margin: 0em;
    font-family: Verdana;
    padding: 0.5em 0em 0em 0em;
    width: 30%;
    font-size: .75em;
    font-weight: normal;
    border: 0px solid red;
    color: black;
}

.remember {
    display: inline;
    margin: 0em 110em 0em 1em;
    padding: 0.5em 1em 0em 0em;
    font-size: .75em;
    font-weight: normal;
    border: 1px solid red;
    color: White;
    border: 0px solid red;
    float: left;
}

.remember_span {
    display: inline;
    margin: 0em 0em 0em 0em;
    padding: 0.5em 1em 0em .5em;
    font-size: .75em;
    font-weight: normal;
    border: 0px solid red;
    color: White;
}

.ch {
    margin: 0em 0em 0em 6.5em;
    padding: 0.5em 1em 0em 2em;
}

.btn {
    margin: 1.5em 0em 0em 0em;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

/* register */
.register_main {
    float: left;
    width: 99.7%;
    margin: 1% 0 1% 0.3%;
    padding: 0% 0% 0% 0%;
    border: 0px solid #D7D7D7;
}


.register_start {
    margin: 1% 0 1% 30%;
    padding: 0% 0% 0% 0%;
    float: left;
    width: 70.7%;
    border: 0px solid #D7D7D7;
}

    .register_start ul {
        margin: 0em;
        padding: 0em;
        list-style-type: none;
        float: left;
    }

        .register_start ul li {
            margin: 0em;
            padding: 0em;
            text-align: left;
            float: left;
            font-family: sans-serif;
            font-size: .75em;
            font-weight: bold;
            color: black;
            display: block;
            width: 100%;
            border: 0px solid #D7D7D7;
            height: 23px;
        }

.textbox {
    height: 18px;
    width: 30%;
    border: 1px solid Gray;
}

.text {
    font-weight: normal;
    font-size: .75em;
    color: black;
    font-family: Verdana;
}

/*/Ramji Login CSS End Here*/


.multimedia_main {
    float: left;
    margin: 0%;
    padding: 1.8% 0% 2% 0%;
    width: 100%;
    text-align: left;
}

    .multimedia_main span {
        width: 100%;
        font-weight: normal;
        color: gray;
        margin: 0 0 0.4em 0;
        font-family: sans-serif;
    }

    .multimedia_main article {
        position: relative;
        float: left;
    }

        .multimedia_main article h2 {
            font-size: 12px!important;
            margin: 0.3em 0 0.8em 0;
            font-weight: normal;
        }

        .multimedia_main article img.iconV {
            position: absolute;
            top: 20%;
            left: 35%;
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .multimedia_main article img {
            max-height: 5.5em;
            border: 0;
            width: 140px;
            height: 90px;
        }



/*/Site map  CSS start  Here*/

.container {
    float: left;
    /*   border-color: Red;*/
    font-size: .80em;
    width: 100%;
    /*   border: 1px solid pink;*/
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    font-weight: bold;
    margin: 5% 0% 0% 5%;
}

    .container ul {
        text-decoration: none;
    }

        .container ul a {
            text-decoration: none;
        }

        .container ul li {
            list-style: none;
            list-style-type: none;
            margin: 2% 0% 0% 2%;
            text-decoration: none;
            display: inline;
        }

            .container ul li a {
                text-decoration: none;
                color: #990400;
            }

.list {
    float: left;
    width: 645px;
}

.sitemapmenu {
    float: left;
    width: 100%;
    margin: 0em 0em 0em 1.5em;
}
/*/Site map  CSS end  Here*/
